:root {
	--primary: #06829C;
	--svetloP: #0093b0;
	--svetloP2: #00b1d4;
	--secondary: #c99802;
	--terciary: #00c7b0;
	--crna: #252525;
	--bela: #f5f5f5;
	--boxshadow: 0 0 2rem #008fcc46;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
      .menu{
            display: none;
      }

      #link{
            display: none;
      }

      #ulogujse{
            display: none;
      }

      .gornjideo{
            background-color: var(--primary);
            padding-left: 1rem;
            padding-right: 1rem;
      }

      #naziv{
            color: var(--bela);
            font-size: 1.5rem;
      }

      .strana {
            width: 20%;
            margin: 4rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      .autoriBanera{
            width: 17rem;
            margin-left: -10rem;
            height: 90rem;
      }

      .autoriBanera h1{
            font-size: 2rem;
      }

       .autoriBanera p{

            font-size: 1.2rem;
      }

      .glavno{
            width:17rem;

      }

      .glavno h1{
            font-size:2rem
      }

      .glavno p{
            font-size: 1.2rem
      }

      .zgrada{
            width: 6rem;
            margin-left:-6.5rem ;
            padding: 0.8rem;
      }

      .zgrade{
            margin-left: 6.9rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(10vw, 2fr));
            grid-template-rows: repeat(auto, 1fr);
            gap: 8rem;
      }

      .zgrada img{
            width: 6rem;
      }

      .ogradjevinama p{
            margin-top:1rem;
            font-size: 1.8rem;
      }

      .ol{
           display:flex;
           flex-direction: column; 
           margin-left: 10rem;
           /* height: 50rem; */

      }

      .ol1 {
            margin-left: -9.5rem;
            height: 20rem ;
            width: 15rem;
      }

      .ol1 img{
          height: 15rem;
          width: 15rem;
      }
      #naslovOL{
            font-size: 2.3rem;
      }
}
@media only screen and (min-width: 480px) and (max-width: 767px){

}
@media only screen and (min-width: 768px) and (max-width: 1599px){
      
      #nebitno{
            padding: -3rem;

      }
      .menu a{
            font-size: 1.2rem;
      }

      .autoriBanera{
            width: 30rem;
            margin-left: -15rem;
            
      }
      .ol1{
            width: 20rem;
          
      }
      .donjiFooter{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-top: 3rem;
      }
      #ukratko{
            width: 30rem;
            margin-left: 1;
      }
      #brziMeni{
            height: 30rem;
            width: 15rem;
      }
      #korisniLinkovi{
            height: 30rem;
            width: 15rem;
      }
      .mainFooter{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      .glavno a{
            font-size: 2rem;
            font-weight: 300;
            padding: 0.8rem;
      }
      .glavno{
            width: 30rem;
            margin-left: 1rem;
      }
      .autoriBanera p{
            font-size: 2.7rem;
            
      }
      .strana {
            width: 20%;
            margin: 5rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
      }
}




      
@media only screen and (min-width: 768px) and (max-width: 1660px){
}

@media only screen and (min-width: 1600px){
      .device{
            display: none;
      }

      .triLinije{
            display: none;
      }
}

