:root {
	--primary: #06829C;
	--svetloP: #0093b0;
	--svetloP2: #00b1d4;
	--secondary: #c99802;
	--terciary: #00c7b0;
	--crna: #252525;
	--bela: #f5f5f5;
	--boxshadow: 0 0 2rem #008fcc46;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
      #SABTablet{
            display: none;
      }
      
      .sidemenu{
            z-index: 1000;
            overflow-x: hidden;
            overflow-y: hidden;
      }
      .triLinije{
            overflow-y: hidden;
            overflow-x: hidden;
            margin-right: 2rem;
      }
      .mainFooterTablet{
            display: none;
      }
      .mainFooterPC{
            display: none;
      }
      #banerFon{
            margin-top: 4rem;
            width: 100vw;
      }

      #baner{
            display: none;
      }
      header{
            margin-top: -4rem;
            width: 100vw;
      }
      .menu{
            display: none;
      }

      #link{
            display: none;
      }

      #ulogujse{
            display: none;
      }
      .gornjideo{
            padding-left: 1rem;     
            padding-right: 1rem;
            background-color: var(--primary);
            height: 4rem;
            position: fixed;
            width: 100%;
      }

      #naziv{
            color: var(--bela);
            font-size: 1.81rem;
      }

      .strana {
            /* width: 95vw; */
            margin: 4rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      .autoriBanera{
            width: 17rem;
            height: 90rem;
            margin-left: -7.5rem;
      }

      .autoriBanera h1{
            font-size: 2rem;
      }

       .autoriBanera p{
            font-size: 1.2rem;
      }

      .glavno{
            width:17rem;

      }

      .glavno h1{
            font-size:2rem
      }

      .glavno p{
            font-size: 1.2rem
      }

      .zgrada{
            width: 17rem;
            /* margin-left:-6.5rem ; */
            padding: 1.5rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
      }

      .zgrade{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 3rem;
      }

      .zgrada img{
            width: 17rem;
      }

      .zgrada h1{
            font-size: 1.7rem;
            margin: 1rem;
            margin-top: 1.5rem;
      }
  
      .ogradjevinama p{
            margin-top:1rem;
            font-size: 1.5rem;
      }
      .ogradjUvod h1{
            margin-top: -1rem;
            font-size: 1.8rem;
      }
      .ol{
           display:flex;
           flex-direction: column; 
           margin-left: 10rem;

      }

      .ol1 {
            margin-left: -9.5rem;
            height: 20rem ;
            width: 15rem;
      }

      .ol1 img{
          height: 15rem;
          width: 15rem;
      }
      #naslovOL{
            font-size: 2.3rem;
      }

      .mainFooterFon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      .brziMeniFon{
            margin-top: 2rem;
            box-shadow: inset 0 0 1rem rgb(0, 190, 224);
            height: 32rem;
            border-radius: 2rem;
      }
      .bmLinkoviFon{
            text-align: left;
            display: flex;
            flex-direction: column;
      }

      #tekstFon{
            color: var(--bela);
            text-align: left;
            font-size: 1.4rem;
            font-weight: 500;
      }

      .korisniLinkoviFon{
            box-shadow: inset 0 0 1rem rgb(0, 190, 224);
            margin-top: 2rem;
            margin-bottom: -1.7rem;
      }

      .klinkFon{
            text-align: left;
            display: flex;
            flex-direction: column;
      }
      /* Uopsteno zasebne strane za gradjevine */
      .beogradjanka h1{
            font-size: 2.5rem;
            margin: 0 auto;
            margin-bottom: 3rem;
      }

      .slider-container{
            z-index: -1;
      }

      .image-container {
            aspect-ratio: 16/9;
            position: relative;
            overflow: hidden;
            /* max-width: 70vw; */
            width: 25rem;
            height: auto;
            border: 2px solid var(--svetloP);
            margin-bottom: 2rem;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
            border-radius: 2rem;
            margin: 0 auto;
      }
      
      .slider-container {
            width: 100%;
            aspect-ratio: 16/9;
            display: flex;
            overflow: hidden;
      }
      
      .slider-container:has(.img.active) .img:not(.active) {
            filter: grayscale(100%);
            filter: brightness(60%);
      }
      
      .slider-container img {
            height: 100%;
            width: calc(100% / 5);
            object-fit: cover;
            overflow: hidden;
            border-left: 1px solid var(--svetloP);
            border-right: 1px solid var(--svetloP);
            transition: all 0.7s cubic-bezier(0.42, 0, 0, 0);
            cursor: pointer;
      }
      
      .slider-container img.active {
            width: 400%;
      }
      
      .beogradjanka {
            display: flex;
            flex-direction: column;
            width: 100vw;
            padding-left: 0%;
            padding-right: 0%;
      }
      
      .beogradjankaTekst {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            margin-left: 2rem;
            margin-right: 2rem;
      }
      
      .beogradjankaTekst p {
            font-size: 1.5rem;
      }

      .tamoAmo{
            display: flex;
            flex-direction: column;
      }

      #zgradaimgPC{
            display: none;
      }
      
}
@media only screen and (min-width: 480px) and (max-width: 767px){

}
@media only screen and (min-width: 768px) and (max-width: 1599px){
      #asideSAB{
            display: none;
      }
      
      .menu{
            margin-left: 0.8rem;
      }
      .triLinije{
            display: none;
      }
      #naziv{
            font-size: 2rem;
      }
      #banerFon{
            display: none;
      }
      .gornjideo{
            padding-left: 1rem;
            padding-right: 1rem;
            height: 7rem;
      }

.gornjideo img{
      width: 4rem;
}
#ulogujse{
      font-size: 1.5rem;
      border-radius: 0.7rem;
}
#logoGSS {
	width: 17rem;
}
.logoIme p{
      font-size: 1.2rem;
      font-weight: 500;
}
      .mainFooterFon{
            display: none;
      }

      .mainFooterPC{
            display: none;
      }
      #nebitno{
            padding: -3rem;

      }
      .menu a{
            font-size: 1.2rem;
      }

      .ol1{
            width: 20rem;
          
      }
      .donjiFooterTablet{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-top: 3rem;
      }
      .ukratkoTablet{
            width: 35rem;
            margin-left: 1;
      }
      .brziMeniTablet{
            height: 30rem;
            width: 15rem;
      }
      .korisniLinkoviTablet{
            height: 30rem;
            width: 15rem;
      }
      .mainFooterTablet{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
      .glavno a{
            font-size: 2rem;
            font-weight: 300;
            padding: 0.8rem;
      }
      .glavno{
            width: 30rem;
      }
      .autoriBanera{
            width: 30rem;
      }
      .autoriBanera p{
            font-size: 2.1rem;
            
      }
      .strana {
            width: 70%;
            margin: 5rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      .zgrada{
            width: 20rem;
            padding-top: 1rem;
            height: 25rem;
      }

      .zgrade{
            display: grid;
            grid-template-columns: repeat(2, minmax(10vw, 2fr));
            grid-template-rows: repeat(auto, 1fr);
            row-gap: 2rem;
            width: 100%;
      }

      .zgrada img{
            width: 18rem;
      }

      .zgrada h1{
            margin: 1rem;
      }

      .ogradjUvod{
            margin-left: -10rem;
            margin-right: -10rem;
      }

      .tamoAmo{
            display: flex;
            flex-direction: column;
      }

      #zgradaimgPC{
            display: none;
      }

      .beogradjanka{
            display: flex;
            flex-direction: column;
            width: 90vw;
            padding-left: 0%;
            padding-right: 0%;
      }

      .beogradjanka h1{
            margin: 0;
      }
}

@media only screen and (min-width: 1600px){
      .device{
            display: none;
      }

      .triLinije{
            display: none;
      }

      .mainFooterFon{
            display: none;
      }

      .mainFooterTablet{
            display: none;
      }

      #banerFon{
            display: none;
      }

      #SABTablet{
            display: none;
      }

      #zgradaimgFon{
            display: none;
      }
}

