@media only screen and (min-width: 768px) and (max-width: 1599px)
{
	#brodarska
	{
		display: none;
	}

	#asideSAB
	{
		display: none;
	}

	.menu
	{
		margin-left: 0.8rem;
	}

	.triLinije
	{
		display: none;
	}

	#naziv
	{
		font-size: 2rem !important;
	}

	#banerFon
	{
		display: none;
	}

	.gornjideo
	{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		height: 7rem !important;
	}

	.gornjideo img
	{
		width: 4rem;
	}

	#ulogujse
	{
		font-size: 1.5rem;
		border-radius: 0.7rem;
	}

	#logoGSS
	{
		width: 20rem !important;
	}

	.logoIme p
	{
		font-size: 1.2rem;
		font-weight: 500;
	}

	.mainFooterFon
	{
		display: none !important;
	}

	.mainFooterPC
	{
		display: none !important;
	}

	#nebitno
	{
		padding: -3rem;
	}

	.menu a
	{
		font-size: 1.2rem !important;
	}

	.ol1
	{
		width: 20rem;
	}

	.donjiFooterTablet
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		margin-top: 3rem;
	}

	.ukratkoTablet
	{
		width: 35rem;
		margin-left: 1;
	}

	.brziMeniTablet
	{
		height: 30rem;
		width: 15rem;
	}

	.korisniLinkoviTablet
	{
		height: 30rem;
		width: 15rem;
	}

	.mainFooterTablet
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.glavno a
	{
		font-size: 2rem;
		font-weight: 300;
		padding: 0.8rem;
	}

	.glavno
	{
		width: 30rem;
	}

	.autoriBanera
	{
		width: 30rem;
	}

	.autoriBanera p
	{
		font-size: 2.1rem;
	}

	.strana
	{
		width: 70%;
		margin: 5rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.zgrada
	{
		width: 20rem;
		padding-top: 1rem;
		height: 25rem;
	}

	.zgrade
	{
		display: grid;
		grid-template-columns: repeat(2, minmax(10vw, 2fr));
		grid-template-rows: repeat(auto, 1fr);
		row-gap: 2rem;
		width: 100%;
	}

	.zgrada img
	{
		width: 18rem;
	}

	.zgrada h1
	{
		margin: 1rem;
	}

	.ogradjUvod
	{
		margin-left: -10rem;
		margin-right: -10rem;
	}

	.tamoAmo
	{
		display: flex;
		flex-direction: column;
	}

	#zgradaimgPC
	{
		display: none;
	}

	.beogradjanka
	{
		display: flex;
		flex-direction: column;
		width: 90vw;
		padding-left: 0%;
		padding-right: 0%;
	}

	.beogradjanka h1
	{
		margin: 0;
	}
}