@media only screen and (max-width: 479px)
{
	#hrFON
	{
		margin-top: 0.1rem;
		height: 2px;
		background-color: #06829C;
	}

	footer
	{
		margin-top: 2rem !important;
	}

	#kreatoriPCTablet
	{
		display: none;
	}

	.ivicaImarica
	{
		display: none !important;
	}

	.blacksmith
	{
		width: 90% !important;
	}

	.centralno
	{
		display: flex;
		flex-direction: column;
	}

	.bg
	{
		width: 100% !important;
		height: 100% !important;
		aspect-ratio: 1/1 !important;
	}

	.containerWP
	{
		top: 65vh !important;
	}

	#wp
	{
		height: 80vh !important;
	}

	.text
	{
		top: 25%;
		font-size: 3rem !important;
	}

	#banerHR
	{
		display: none;
	}

	#asideSAB
	{
		display: none;
	}

	#SABTablet
	{
		display: none;
	}

	.sidemenu
	{
		z-index: 1000;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.triLinije
	{
		overflow-y: hidden;
		overflow-x: hidden;
		margin-right: 1rem;
	}

	.mainFooterTablet
	{
		display: none !important;
	}

	.mainFooterPC
	{
		display: none !important;
	}

	#banerFon
	{
		margin-top: 4rem;
		width: 100vw;
	}

	#baner
	{
		display: none;
	}

	header
	{
		width: 100vw;
	}

	.menu
	{
		display: none !important;
	}

	#link
	{
		display: none;
	}

	#ulogujse
	{
		display: none;
	}

	.gornjideo
	{
		position: fixed;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: var(--primary) !important;
		height: 4rem !important;
		width: 100vw !important;
		box-shadow: inset 0 0 1.5rem rgba(0, 167, 196, 1) !important;
	}

	#naziv
	{
		margin-left: 1rem !important;
		color: var(--bela);
		font-size: 1.81rem !important;
	}

	#mainKvizovi
	{
		width: 100%;
	}

	.wrapper
	{
		width: 100%;
	}

	svg
	{
		width: 100%;
		margin-left: 0.6rem;
	}

	svg text
	{
		text-align: center;
		letter-spacing: 0.7rem !important;
	}

	.info_box
	{
		width: 100%;
	}

	.quiz_box
	{
		width: 90%;
	}

	.result_box
	{
		width: 90%;
	}

	.time_line
	{
		display: none !important;
	}

	.strana
	{
		width: 90%;
		margin: 0rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.autoriBanera
	{
		height: -moz-fit-content;
		height: fit-content;
	}

	.pocetnaMain>div:first-child
	{
		margin-top: 0;
	}

	.autoriBanera h1
	{
		margin-top: -0.5rem;
		font-size: 2rem;
	}

	aside
	{
		display: flex;
		justify-content: center;
		width: 100% !important;
	}

	.micaPopovic img
	{
		width: 100%;
	}

	.ivicaImaricaFON{
		width: 100vw;
	}

	.ivicaImaricaFON a, .ivicaImaricaFON p
	{
		font-size: 0.9rem !important;
	}
	
	.ivicaImaricaFON p{
		margin: 0 !important;
	}

	.ivicaImarica li a
	{
		padding: 0.1rem !important;
		font-size: 1.5rem;
		text-decoration: none;
		color: var(--crna);
	}

	.micaPopovic img:hover
	{
		scale: 1;
	}

	.DM
	{
		width: 100%;
	}

	.DM img:hover
	{
		scale: 1;
	}

	.autoriBanera p
	{
		font-size: 1.5rem;
	}

	.autoriBanera
	{
		margin-top: 0 !important;
	}

	.glavno a
	{
		font-weight: 400;
	}

	.glavno h1
	{
		text-align: center;
		margin-left: 0rem !important;
		margin-top: -0.5rem !important;
		font-size: 2rem;
	}

	.glavno p
	{
		font-size: 1.5rem;
	}

	.zgrada
	{
		width: 17rem;
		padding: 1.5rem;
		height: -moz-fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
	}

	.zgrade
	{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.zgrada img
	{
		width: 17rem;
	}

	.zgrada h1
	{
		font-size: 1.7rem;
		margin: 1rem;
		margin-top: 1.5rem;
	}

	.ogradjevinama p
	{
		margin-top: 1rem;
		font-size: 1.5rem;
	}

	.ogradjUvod h1
	{
		margin-top: -1rem;
		font-size: 1.3rem;
	}

	.ol
	{
		display: flex;
		flex-direction: column;
		margin-left: 10rem;
	}

	.ol1
	{
		margin-left: -9.5rem;
		height: 20rem;
		width: 15rem;
	}

	.ol1 img
	{
		height: 15rem;
		width: 15rem;
	}

	#naslovOL
	{
		font-size: 2.3rem;
	}

	.mainFooterFon
	{
		padding-top: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bmLinkoviFon
	{
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	#tekstFon
	{
		color: var(--bela);
		text-align: left;
		font-size: 1.4rem;
		font-weight: 500;
	}

	.korisniLinkoviFon
	{
		margin-top: 1rem;
	}

	.klinkFon
	{
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	/* Uopsteno zasebne strane za gradjevine */
	.beogradjanka h1
	{
		font-size: 2rem;
		margin: 0 auto;
		margin-bottom: 3rem;
	}

	.slider-container
	{
		z-index: -1;
	}

	.image-container
	{
		aspect-ratio: 16/9;
		position: relative;
		overflow: hidden;
		/* max-width: 70vw; */
		width: 25rem;
		height: auto;
		border: 2px solid var(--svetloP);
		margin-bottom: 2rem;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
		border-radius: 2rem;
		margin: 0 auto;
	}

	.slider-container
	{
		width: 100%;
		aspect-ratio: 16/9;
		display: flex;
		overflow: hidden;
	}

	.slider-container:has(.img.active) .img:not(.active)
	{
		filter: grayscale(100%);
		filter: brightness(60%);
	}

	.slider-container img
	{
		height: 100%;
		width: calc(100% / 5);
		object-fit: cover;
		overflow: hidden;
		border-left: 1px solid var(--svetloP);
		border-right: 1px solid var(--svetloP);
		transition: all 0.7s cubic-bezier(0.42, 0, 0, 0);
		cursor: pointer;
	}

	.slider-container img.active
	{
		width: 400%;
	}

	.beogradjanka
	{
		display: flex;
		flex-direction: column;
		width: 100vw;
		padding-left: 0%;
		padding-right: 0%;
	}

	.beogradjankaTekst
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.beogradjankaTekst p
	{
		font-size: 1.2rem;
	}

	.tamoAmo
	{
		display: flex;
		flex-direction: column;
	}

	#zgradaimgPC
	{
		display: none;
	}

	#naslovOlicnostima
	{
		margin-bottom: 0rem;
		font-size: 3rem;
	}
	.ozasebLicnosti{
		gap: 2rem;
	}
	.contentOlicnosti
	{
		font-size: 1rem;
	}

	.galerijaOlicnostima{
		width: 20rem;
	}

	.linijaOZL{
		width: 90vw;
	}
	.sliketekstOgradj
	{
		margin-bottom: 0rem;
		flex-direction: column;
	}

	.ogradjTekst
	{
		width: 100%;
		font-size: 1.4rem;
		padding-left: 0;
	}
	.ogradjUvod h3{
		font-size: 3rem;
		margin: 2rem auto;
	}
	.ogradjUvod>p{
		line-height: 1.8rem !important;
		font-size: 1.2rem !important;
	}

	.gradjevina h1{
		font-size: 2rem;
	}

	.ogradjSlike
	{
		border-radius: 1rem;
		flex-direction: row;
		overflow-y: hidden !important;
		overflow-x: scroll !important;
		width: 20rem;
	}

	.gradjevina
	{
		width: 75%;
		margin: 2.5rem auto 2.5rem auto;
	}

	.gradjevina img
	{
		width: 14rem !important;
		aspect-ratio: 1/1 !important;
	}

	.zstanica
	{
		height: 15rem !important;
	}

	.skc
	{
		height: 15rem !important;
	}

	.galerija
	{
		margin-top: 5rem;
		column-count: 1;
	}

	.slikaGalerija img:hover{
		scale: 1;
	}
}

@media only screen and (max-width: 479px) and (prefers-color-scheme: dark)
{
	footer
	{
		box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3) !important;
	}

	.glavno,
	.autoriBanera
	{
		box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.2) !important;
	}
}
