@media only screen and (min-width: 480px) and (max-width: 1599px) and (orientation: landscape)
{
	#banerFon
	{
		display: none;
	}

	.triLinije
	{
		display: none;
	}

	.gornjideo
	{
		height: auto;
		padding: 1rem;
	}

	#naziv
	{
		width: min-content;
		font-size: 2rem !important;
	}

	#aisdeSAB
	{
		display: none;
	}

	#logoGSS
	{
		width: 15rem;
		height: 5.25rem;
	}

	.menu a
	{
		font-size: 0.8rem !important;
	}

	.glavno a
	{
		font-size: 1.5rem;
		font-weight: 300;
		padding: 0.8rem;
	}

	.glavno p
	{
		font-size: 1.5rem;
	}

	.glavno
	{
		line-height: 2rem;
		width: auto;
	}

	.glavno h1
	{
		font-size: 2.5rem;
	}

	.autoriBanera h1
	{
		font-size: 2.5rem;
	}

	.autoriBanera
	{
		width: auto !important;
	}

	.autoriBanera p
	{
		column-count: 2;
		font-size: 1.4rem;
	}

	.strana
	{
		width: 70%;
		margin: 5rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.zgrada
	{
		width: 15rem;
		aspect-ratio: 3/4.5;
		padding: 1rem;
	}

	.ogradjUvod p
	{
		font-size: 1.4rem;
	}

	.zgrada h1
	{
		margin: 2rem auto;
	}

	.ogradjUvod
	{
		margin-left: -10rem;
		margin-right: -10rem;
	}

	.autoriBanera h1
	{
		margin-top: -0.5rem;
		font-size: 2rem;
	}

	aside
	{
		display: flex;
		justify-content: center;
		width: 100% !important;
	}

	.centralno
	{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
