@media only screen and (min-width: 320px) and (max-width: 479px)
{
	.blacksmith
	{
		width: 90% !important;
	}

	.bg
	{
		width: 100% !important;
		height: 100% !important;
		aspect-ratio: 1/1 !important;
	}

	.containerWP
	{
		top: 65vh !important;
	}

	#wp
	{
		height: 80vh !important;
	}

	.text
	{
		font-size: 3rem !important;
	}

	#banerHR
	{
		display: none;
	}

	#SABTablet
	{
		display: none;
	}

	.sidemenu
	{
		z-index: 1000;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.triLinije
	{
		overflow-y: hidden;
		overflow-x: hidden;
		margin-right: 2rem;
	}

	.mainFooterTablet
	{
		display: none !important;
	}

	.mainFooterPC
	{
		display: none !important;
	}

	#banerFon
	{
		width: 100vw;
	}

	#baner
	{
		display: none;
	}

	header
	{
		width: 100vw;
	}

	.menu
	{
		display: none !important;
	}

	#link
	{
		display: none;
	}

	#ulogujse
	{
		display: none;
	}

	.gornjideo
	{
		position: fixed;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		background-color: var(--primary) !important;
		height: 4rem !important;
		width: 100vw !important;
		box-shadow: inset 0 0 1.5rem rgba(0, 167, 196, 1) !important;
		margin-top: -4rem !important;
	}

	#naziv
	{
		color: var(--bela);
		font-size: 1.81rem !important;
	}

	.strana
	{
		margin: 4rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.autoriBanera
	{
		width: 17rem;
		height: -moz-fit-content;
		height: fit-content;
		margin-left: -7.5rem;
	}

	.autoriBanera h1
	{
		font-size: 2rem;
	}

	.autoriBanera p
	{
		font-size: 1.2rem;
	}

	.glavno
	{
		width: 17rem;
	}

	.glavno h1
	{
		font-size: 2rem
	}

	.glavno p
	{
		font-size: 1.2rem
	}

	.zgrada
	{
		width: 17rem;
		padding: 1.5rem;
		height: -moz-fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
	}

	.zgrade
	{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.zgrada img
	{
		width: 17rem;
	}

	.zgrada h1
	{
		font-size: 1.7rem;
		margin: 1rem;
		margin-top: 1.5rem;
	}

	.ogradjevinama p
	{
		margin-top: 1rem;
		font-size: 1.5rem;
	}

	.ogradjUvod h1
	{
		margin-top: -1rem;
		font-size: 1.8rem;
	}

	.ol
	{
		display: flex;
		flex-direction: column;
		margin-left: 10rem;
	}

	.ol1
	{
		margin-left: -9.5rem;
		height: 20rem;
		width: 15rem;
	}

	.ol1 img
	{
		height: 15rem;
		width: 15rem;
	}

	#naslovOL
	{
		font-size: 2.3rem;
	}

	.mainFooterFon
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bmLinkoviFon
	{
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	#tekstFon
	{
		color: var(--bela);
		text-align: left;
		font-size: 1.4rem;
		font-weight: 500;
	}

	.korisniLinkoviFon
	{
		margin-top: 1rem;
	}

	.klinkFon
	{
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	/* Uopsteno zasebne strane za gradjevine */
	.beogradjanka h1
	{
		font-size: 2rem;
		margin: 0 auto;
		margin-bottom: 3rem;
	}

	.slider-container
	{
		z-index: -1;
	}

	.image-container
	{
		aspect-ratio: 16/9;
		position: relative;
		overflow: hidden;
		/* max-width: 70vw; */
		width: 25rem;
		height: auto;
		border: 2px solid var(--svetloP);
		margin-bottom: 2rem;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
		border-radius: 2rem;
		margin: 0 auto;
	}

	.slider-container
	{
		width: 100%;
		aspect-ratio: 16/9;
		display: flex;
		overflow: hidden;
	}

	.slider-container:has(.img.active) .img:not(.active)
	{
		filter: grayscale(100%);
		filter: brightness(60%);
	}

	.slider-container img
	{
		height: 100%;
		width: calc(100% / 5);
		object-fit: cover;
		overflow: hidden;
		border-left: 1px solid var(--svetloP);
		border-right: 1px solid var(--svetloP);
		transition: all 0.7s cubic-bezier(0.42, 0, 0, 0);
		cursor: pointer;
	}

	.slider-container img.active
	{
		width: 400%;
	}

	.beogradjanka
	{
		display: flex;
		flex-direction: column;
		width: 100vw;
		padding-left: 0%;
		padding-right: 0%;
	}

	.beogradjankaTekst
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.beogradjankaTekst p
	{
		font-size: 1.2rem;
	}

	.tamoAmo
	{
		display: flex;
		flex-direction: column;
	}

	#zgradaimgPC
	{
		display: none;
	}
}