@media only screen and (min-width: 1600px)
{
	.device
	{
		display: none;
	}

	.triLinije
	{
		display: none;
	}

	.mainFooterFon
	{
		display: none !important;
	}

	.mainFooterTablet
	{
		display: none !important;
	}

	#banerFon
	{
		display: none;
	}

	#SABTablet
	{
		display: none;
	}

	#zgradaimgFon
	{
		display: none;
	}
}